[
 {
   "name":"小皮游戏-棋牌桌游",
   "file_name":"xpi01.db",
    "file_size":"28.0 KB",
    "table_name":"xpi01",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205020524499.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi01.db"
 },
 {
   "name":"小皮游戏-益智休闲",
   "file_name":"xpi02.db",
    "file_size":"124 KB",
    "table_name":"xpi02",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205020322925.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi02.db"
 },
{
   "name":"小皮游戏-格斗射击",
   "file_name":"xpi03.db",
    "file_size":"40.0 KB",
    "table_name":"xpi03",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205015742259.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi03.db"
 },
{
   "name":"小皮游戏-冒险解谜",
   "file_name":"xpi04.db",
    "file_size":"48.0 KB",
    "table_name":"xpi04",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205015317982.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi04.db"
 },
{
   "name":"小皮游戏-其他",
   "file_name":"xpi05.db",
    "file_size":"48.0 KB",
    "table_name":"xpi05",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205014232415.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi05.db"
 },
{
   "name":"小皮游戏-角色扮演",
   "file_name":"xpi06.db",
    "file_size":"84.0 KB",
    "table_name":"xpi06",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0205/20170205014029299.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi06.db"
 },
{
   "name":"小皮游戏-模拟经营",
   "file_name":"xpi07.db",
    "file_size":"32.0 KB",
    "table_name":"xpi07",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0120/20170120111107658.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi07.db"
 },
{
   "name":"小皮游戏-塔防策略",
   "file_name":"xpi08.db",
    "file_size":"40.0 KB",
    "table_name":"xpi08",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2017/0118/20170118043651241.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi08.db"
 },
{
   "name":"小皮游戏-卡牌战略",
   "file_name":"xpi09.db",
    "file_size":"28.0 KB",
    "table_name":"xpi09",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2016/1213/20161213051409542.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi09.db"
 },
{
   "name":"小皮游戏-竞技对战",
   "file_name":"xpi10.db",
    "file_size":"20.0 KB",
    "table_name":"xpi10",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2016/1021/20161021044145326.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi10.db"
 },
{
   "name":"小皮游戏-体育比赛",
   "file_name":"xpi11.db",
    "file_size":"28.0 KB",
    "table_name":"xpi11",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2016/0805/20160805032009573.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi11.db"
 },
{
   "name":"小皮游戏-音乐舞蹈",
   "file_name":"xpi12.db",
    "file_size":"20.0 KB",
    "table_name":"xpi12",
   "image_url":"http://www.xiaopi.com/game/uploadfile/2015/1113/20151113044718704.png",
   "db_url":"https://github.com/cjcMarker/EDGameDb/raw/master/db_game/xiaopi/xpi12.db"
 }
]